Channels requiring attention:
{{#each categories as |category| }}
{{#if category.channels.length }}
{{ category.name }}:
{{#each category.channels as |channel|}}
{{#ifNot channel.topic }}
- <#{{channel.id}}>: requires topic
{{/ifNot}}
{{/each }}
{{/if }}
{{/each }}